In [1]:
import pandas as pd
import numpy as np
import psycopg2
import pandas.io.sql as sqlio
import requests as re
from IPython.display import JSON
import json

In [2]:
flights = pd.read_csv('../../../data/df_train.csv')

In [3]:
airport_link = pd.read_csv('../../../data/airport_link.csv')

In [4]:
airport_link.drop(['Unnamed: 0'],axis=1, inplace=True)

In [5]:
airport_link.columns

Index(['origin_airport_id', 'origin_city_name', 'dest_airport_id',
       'dest_city_name'],
      dtype='object')

In [6]:
origin_airport = airport_link[['origin_airport_id','origin_city_name']]

In [7]:
dest_airport = airport_link[['dest_airport_id', 'dest_city_name']]

In [8]:
origins = origin_airport.drop_duplicates()
origins

    origin_airport_id       origin_city_name
0               13930            Chicago, IL
1               14747            Seattle, WA
2               12892        Los Angeles, CA
5               11057          Charlotte, NC
6               11292             Denver, CO
14              14107            Phoenix, AZ
15              14771      San Francisco, CA
16              10397            Atlanta, GA
26              11298  Dallas/Fort Worth, TX
27              12266            Houston, TX

In [9]:
dest = dest_airport.drop_duplicates()
dest

        dest_airport_id   dest_city_name
0                 15356      Trenton, NJ
1                 10423       Austin, TX
3                 12892  Los Angeles, CA
4                 13487  Minneapolis, MN
5                 13930      Chicago, IL
...                 ...              ...
174068            14905  Santa Maria, CA
174622            13087    Las Vegas, NV
176686            10918   Cedar City, UT
177802            12898      Latrobe, PA
178836            14025  Plattsburgh, NY

[829 rows x 2 columns]

In [10]:
flights = flights.drop('Unnamed: 0',axis=1)

In [11]:
flights

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_B6,carrier_DL,carrier_F9,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay
0,12892,10140,10,11,2018,1235,120.0,677,3.454152,4.566613,...,0,0,0,0,0,0,0,0,1,6.0
1,12892,10140,10,11,2018,1840,105.0,677,3.454152,4.566613,...,0,0,0,0,0,0,0,0,1,1.0
2,12892,10397,10,11,2018,805,250.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,0,0,1,-12.0
3,12892,10397,10,11,2018,1045,260.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,0,0,1,-20.0
4,12892,10423,10,11,2018,1030,185.0,1242,3.454152,4.566613,...,0,0,0,0,0,0,0,0,1,-12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918190,14771,14679,31,1,2018,1508,87.0,447,4.221989,2.348741,...,0,0,0,0,0,0,0,1,0,-9.0
3918191,14771,14679,31,1,2018,1720,87.0,447,4.221989,2.348741,...,0,0,0,0,0,0,0,1,0,-11.0
3918192,14771,14679,31,1,2018,2055,83.0,447,4.221989,2.348741,...,0,0,0,0,0,0,0,1,0,-14.0
3918193,12892,14771,31,1,2018,2000,94.0,337,4.221989,2.348741,...,0,0,0,0,0,0,0,1,0,-18.0
3918194,12892,14771,31,1,2018,2150,92.0,337,4.221989,2.348741,...,0,0,0,0,0,0,0,1,0,-13.0

In [12]:
df = pd.merge(flights, 
                 origins, 
                 on ='origin_airport_id', 
                 how ='left')

In [13]:
df

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_DL,carrier_F9,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay,origin_city_name
0,12892,10140,10,11,2018,1235,120.0,677,3.454152,4.566613,...,0,0,0,0,0,0,0,1,6.0,"Los Angeles, CA"
1,12892,10140,10,11,2018,1840,105.0,677,3.454152,4.566613,...,0,0,0,0,0,0,0,1,1.0,"Los Angeles, CA"
2,12892,10397,10,11,2018,805,250.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,0,1,-12.0,"Los Angeles, CA"
3,12892,10397,10,11,2018,1045,260.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,0,1,-20.0,"Los Angeles, CA"
4,12892,10423,10,11,2018,1030,185.0,1242,3.454152,4.566613,...,0,0,0,0,0,0,0,1,-12.0,"Los Angeles, CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918190,14771,14679,31,1,2018,1508,87.0,447,4.221989,2.348741,...,0,0,0,0,0,0,1,0,-9.0,"San Francisco, CA"
3918191,14771,14679,31,1,2018,1720,87.0,447,4.221989,2.348741,...,0,0,0,0,0,0,1,0,-11.0,"San Francisco, CA"
3918192,14771,14679,31,1,2018,2055,83.0,447,4.221989,2.348741,...,0,0,0,0,0,0,1,0,-14.0,"San Francisco, CA"
3918193,12892,14771,31,1,2018,2000,94.0,337,4.221989,2.348741,...,0,0,0,0,0,0,1,0,-18.0,"Los Angeles, CA"
3918194,12892,14771,31,1,2018,2150,92.0,337,4.221989,2.348741,...,0,0,0,0,0,0,1,0,-13.0,"Los Angeles, CA"

In [14]:
df = pd.merge(df, 
                 dest, 
                 on ='dest_airport_id', 
                 how ='left')

In [15]:
df

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_F9,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay,origin_city_name,dest_city_name
0,12892,10140,10,11,2018,1235,120.0,677,3.454152,4.566613,...,0,0,0,0,0,0,1,6.0,"Los Angeles, CA","Albuquerque, NM"
1,12892,10140,10,11,2018,1840,105.0,677,3.454152,4.566613,...,0,0,0,0,0,0,1,1.0,"Los Angeles, CA","Albuquerque, NM"
2,12892,10397,10,11,2018,805,250.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Atlanta, GA"
3,12892,10397,10,11,2018,1045,260.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,1,-20.0,"Los Angeles, CA","Atlanta, GA"
4,12892,10423,10,11,2018,1030,185.0,1242,3.454152,4.566613,...,0,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Austin, TX"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918190,14771,14679,31,1,2018,1508,87.0,447,4.221989,2.348741,...,0,0,0,0,0,1,0,-9.0,"San Francisco, CA","San Diego, CA"
3918191,14771,14679,31,1,2018,1720,87.0,447,4.221989,2.348741,...,0,0,0,0,0,1,0,-11.0,"San Francisco, CA","San Diego, CA"
3918192,14771,14679,31,1,2018,2055,83.0,447,4.221989,2.348741,...,0,0,0,0,0,1,0,-14.0,"San Francisco, CA","San Diego, CA"
3918193,12892,14771,31,1,2018,2000,94.0,337,4.221989,2.348741,...,0,0,0,0,0,1,0,-18.0,"Los Angeles, CA","San Francisco, CA"
3918194,12892,14771,31,1,2018,2150,92.0,337,4.221989,2.348741,...,0,0,0,0,0,1,0,-13.0,"Los Angeles, CA","San Francisco, CA"

In [16]:
flights = df.copy()

In [17]:
flights

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_F9,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay,origin_city_name,dest_city_name
0,12892,10140,10,11,2018,1235,120.0,677,3.454152,4.566613,...,0,0,0,0,0,0,1,6.0,"Los Angeles, CA","Albuquerque, NM"
1,12892,10140,10,11,2018,1840,105.0,677,3.454152,4.566613,...,0,0,0,0,0,0,1,1.0,"Los Angeles, CA","Albuquerque, NM"
2,12892,10397,10,11,2018,805,250.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Atlanta, GA"
3,12892,10397,10,11,2018,1045,260.0,1947,3.454152,4.566613,...,0,0,0,0,0,0,1,-20.0,"Los Angeles, CA","Atlanta, GA"
4,12892,10423,10,11,2018,1030,185.0,1242,3.454152,4.566613,...,0,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Austin, TX"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918190,14771,14679,31,1,2018,1508,87.0,447,4.221989,2.348741,...,0,0,0,0,0,1,0,-9.0,"San Francisco, CA","San Diego, CA"
3918191,14771,14679,31,1,2018,1720,87.0,447,4.221989,2.348741,...,0,0,0,0,0,1,0,-11.0,"San Francisco, CA","San Diego, CA"
3918192,14771,14679,31,1,2018,2055,83.0,447,4.221989,2.348741,...,0,0,0,0,0,1,0,-14.0,"San Francisco, CA","San Diego, CA"
3918193,12892,14771,31,1,2018,2000,94.0,337,4.221989,2.348741,...,0,0,0,0,0,1,0,-18.0,"Los Angeles, CA","San Francisco, CA"
3918194,12892,14771,31,1,2018,2150,92.0,337,4.221989,2.348741,...,0,0,0,0,0,1,0,-13.0,"Los Angeles, CA","San Francisco, CA"

In [18]:
flights['origin_city_name'].unique()

array(['Los Angeles, CA', 'Phoenix, AZ', 'Denver, CO', 'Seattle, WA',
       'San Francisco, CA', 'Atlanta, GA', 'Charlotte, NC',
       'Dallas/Fort Worth, TX', 'Houston, TX', 'Chicago, IL'],
      dtype=object)

In [19]:
citieNames = []
for index, city in enumerate(flights.origin_city_name):
    if '/' in city:
        splits = city.split(sep='/')
        city = splits[0] + ',' + splits[-1].split(sep=',')[-1]
    city2 = city.replace(" ","")
    city3 = city2.replace(",", "")    
    citieNames.append(city3)

In [20]:
flights['origin_city'] = citieNames

In [22]:
flights

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay,origin_city_name,dest_city_name,origin_city
0,12892,10140,10,11,2018,1235,120.0,677,3.454152,4.566613,...,0,0,0,0,0,1,6.0,"Los Angeles, CA","Albuquerque, NM",LosAngelesCA
1,12892,10140,10,11,2018,1840,105.0,677,3.454152,4.566613,...,0,0,0,0,0,1,1.0,"Los Angeles, CA","Albuquerque, NM",LosAngelesCA
2,12892,10397,10,11,2018,805,250.0,1947,3.454152,4.566613,...,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Atlanta, GA",LosAngelesCA
3,12892,10397,10,11,2018,1045,260.0,1947,3.454152,4.566613,...,0,0,0,0,0,1,-20.0,"Los Angeles, CA","Atlanta, GA",LosAngelesCA
4,12892,10423,10,11,2018,1030,185.0,1242,3.454152,4.566613,...,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Austin, TX",LosAngelesCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918190,14771,14679,31,1,2018,1508,87.0,447,4.221989,2.348741,...,0,0,0,0,1,0,-9.0,"San Francisco, CA","San Diego, CA",SanFranciscoCA
3918191,14771,14679,31,1,2018,1720,87.0,447,4.221989,2.348741,...,0,0,0,0,1,0,-11.0,"San Francisco, CA","San Diego, CA",SanFranciscoCA
3918192,14771,14679,31,1,2018,2055,83.0,447,4.221989,2.348741,...,0,0,0,0,1,0,-14.0,"San Francisco, CA","San Diego, CA",SanFranciscoCA
3918193,12892,14771,31,1,2018,2000,94.0,337,4.221989,2.348741,...,0,0,0,0,1,0,-18.0,"Los Angeles, CA","San Francisco, CA",LosAngelesCA
3918194,12892,14771,31,1,2018,2150,92.0,337,4.221989,2.348741,...,0,0,0,0,1,0,-13.0,"Los Angeles, CA","San Francisco, CA",LosAngelesCA

In [23]:
flights.head()

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay,origin_city_name,dest_city_name,origin_city
0,12892,10140,10,11,2018,1235,120.0,677,3.454152,4.566613,...,0,0,0,0,0,1,6.0,"Los Angeles, CA","Albuquerque, NM",LosAngelesCA
1,12892,10140,10,11,2018,1840,105.0,677,3.454152,4.566613,...,0,0,0,0,0,1,1.0,"Los Angeles, CA","Albuquerque, NM",LosAngelesCA
2,12892,10397,10,11,2018,805,250.0,1947,3.454152,4.566613,...,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Atlanta, GA",LosAngelesCA
3,12892,10397,10,11,2018,1045,260.0,1947,3.454152,4.566613,...,0,0,0,0,0,1,-20.0,"Los Angeles, CA","Atlanta, GA",LosAngelesCA
4,12892,10423,10,11,2018,1030,185.0,1242,3.454152,4.566613,...,0,0,0,0,0,1,-12.0,"Los Angeles, CA","Austin, TX",LosAngelesCA

In [24]:
flights.drop(['origin_city_name'],axis=1,inplace=True)

In [52]:
Fflights = flights.copy()

In [54]:
Fflights = Fflights.sort_values(['origin_city', 'year', 'month', 'day', 'crs_dep_time'])

pandas.core.frame.DataFrame

In [55]:
Fflights

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,carrier_F9,carrier_G4,carrier_HA,carrier_NK,carrier_UA,carrier_VX,carrier_WN,arr_delay,dest_city_name,origin_city
338803,10397,11292,1,1,2018,530,205.0,1199,4.221989,4.566613,...,0,0,0,0,0,0,1,-7.0,"Denver, CO",AtlantaGA
338837,10397,12953,1,1,2018,600,125.0,762,4.221989,4.566613,...,0,0,0,0,0,0,1,1.0,"New York, NY",AtlantaGA
338851,10397,13232,1,1,2018,600,115.0,591,4.221989,4.566613,...,0,0,0,0,0,0,1,49.0,"Chicago, IL",AtlantaGA
1265910,10397,13303,1,1,2018,600,115.0,594,4.221989,7.880984,...,0,0,0,0,0,0,0,-12.0,"Miami, FL",AtlantaGA
1266589,10397,14100,1,1,2018,600,124.0,666,4.221989,7.880984,...,0,0,0,0,0,0,0,-27.0,"Philadelphia, PA",AtlantaGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3682925,14747,11298,31,12,2019,2320,220.0,1660,5.605429,2.328271,...,0,0,0,0,0,0,0,-19.0,"Dallas/Fort Worth, TX",SeattleWA
2051290,14747,12264,31,12,2019,2330,280.0,2306,5.605429,7.982953,...,0,0,0,0,1,0,0,-18.0,"Washington, DC",SeattleWA
3682770,14747,10299,31,12,2019,2330,224.0,1448,5.605429,2.328271,...,0,0,0,0,0,0,0,-3.0,"Anchorage, AK",SeattleWA
2050716,14747,12266,31,12,2019,2359,248.0,1874,5.605429,7.982953,...,0,0,0,0,1,0,0,-18.0,"Houston, TX",SeattleWA
3424682,14747,10721,31,12,2019,2359,305.0,2496,5.605429,10.352250,...,0,0,0,0,0,0,0,-20.0,"Boston, MA",SeattleWA

In [50]:
Fflights

In [57]:
Windspeeds = np.empty(3918195, dtype=object)
weatherDesc = np.empty(3918195, dtype=object)
precipitations = np.empty(3918195, dtype=object)
visibilities = np.empty(3918195, dtype=object)

temp_city = 'AtlantaGA'
r = open("../../../data/weather/201801AtlantaGA.json", "r")
jsonfile = json.load(r)['data']['weather']

temp_month = 1
for i in range(0,len(Fflights)-1):
    row = Fflights.iloc[i,:]
    
    day = row.day
    month = row.month
    city = row.origin_city
    year = row.year
    time = row.crs_dep_time
    
    if month < 10:
        strmonth = '0' + str(month)
    else:
        strmonth = str(month)
        
    if city != temp_city or month != temp_month:
        r.close()
        r = open("../../../data/weather/"+str(year)+strmonth+city+".json", "r")
        try:
            jsonfile = json.load(r)['data']['weather']
        except:
            Windspeeds[i]= np.nan
            visibilities[i]= np.nan
            precipitations[i]= np.nan
            weatherDesc[i]=np.nan
            continue
        temp_city = city
        temp_month = month
    
    if time >= 2100:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][7]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][7]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][7]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][7]['weatherDesc'][0]['value'])
    elif time >= 1800:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][6]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][6]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][6]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][6]['weatherDesc'][0]['value'])
    elif time >= 1500:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][5]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][5]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][5]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][5]['weatherDesc'][0]['value'])
    elif time >= 1200:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][4]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][4]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][4]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][4]['weatherDesc'][0]['value'])
    elif time >= 900:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][3]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][3]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][3]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][3]['weatherDesc'][0]['value'])
    elif time >= 600:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][2]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][2]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][2]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][2]['weatherDesc'][0]['value'])
    elif time >= 300:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][1]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][1]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][1]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][1]['weatherDesc'][0]['value'])
    else:
        Windspeeds[i]=(jsonfile[day-1]['hourly'][0]['windspeedMiles'])
        visibilities[i]=(jsonfile[day-1]['hourly'][0]['visibility'])
        precipitations[i]=(jsonfile[day-1]['hourly'][0]['precipMM'])
        weatherDesc[i]=(jsonfile[day-1]['hourly'][0]['weatherDesc'][0]['value'])

In [58]:
Windspeeds

array(['8', '7', '7', ..., '16', '16', None], dtype=object)

In [59]:
Windspeeds = pd.DataFrame(Windspeeds)

In [68]:
weatherDesc = pd.DataFrame(weatherDesc)

In [62]:
visibilities = pd.DataFrame(visibilities)

In [63]:
precipitations = pd.DataFrame(precipitations)

In [71]:
precipitations.isna().sum()

0    19858
dtype: int64

In [72]:
Fflights['windspeeds'] = Windspeeds

In [75]:
Fflights['weather_desc'] = weatherDesc

In [76]:
Fflights['visibilities'] = visibilities

In [77]:
Fflights['precipitations'] = precipitations

In [163]:
Fflights.columns

Index(['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay', 'departures_performed', 'seats',
       'passengers', 'percent_filled', 'carrier_AS', 'carrier_B6',
       'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK',
       'carrier_UA', 'carrier_VX', 'carrier_WN', 'arr_delay', 'dest_city_name',
       'origin_city', 'windspeeds', 'weather_desc', 'visibilities',
       'precipitations'],
      dtype='object')

In [115]:
Fflights.to_csv('../../../data/final_flights_unclean.csv')

array([7, 4, 1])

In [62]:
train_flight = pd.read_csv('../../../data/final_flights_unclean.csv')

In [63]:
train_flights = train_flight.copy()

In [68]:
c1 =['Clear', 'Sunny']
c2=['Light drizzle', 'Cloudy', 'Partly cloudy','Patchy rain possible','Light rain shower', 'Light rain','Moderate rain at times', 'Patchy light rain']
c3=['Moderate rain',  'Moderate or heavy rain shower', 'Patchy light drizzle', 'Mist','Patchy light rain with thunder','Fog', 'Overcast']
c4=['Light sleet', 'Light snow','Light freezing rain','Patchy light snow','Light snow showers','Patchy snow possible','Patchy sleet possible','Light sleet showers']
c5=['Ice pellets', 'Patchy moderate snow', 'Thundery outbreaks possible', 'Moderate snow']
c6=['Patchy heavy snow', 'Moderate or heavy freezing rain','Moderate or heavy sleet','Moderate or heavy snow showers','Heavy rain at times','Blowing snow', 'Heavy snow', 'Heavy rain']
c7=['Moderate or heavy rain with thunder','Moderate or heavy snow with thunder', 'Heavy freezing drizzle']
c8=['Blizzard','Torrential rain shower', 'Freezing fog']


c=[c1,c2,c3,c4,c5,c6,c7,c8]  
v=[0,1,2,3,4,5,6,7]

In [71]:
# train_flight.loc[train_flight['weather_desc'] in ['Clear','Sunny']]
# for value in enumerate(train_flight['weather_desc']):
#     if value in c1:
#         value = 0
#         train_flight.iloc[index,-3] = value
for index,value in enumerate(c):
    train_flights['weather_desc'].replace(value,index, inplace=True)

In [75]:
train_flights

,Unnamed: 0,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,...,carrier_UA,carrier_VX,carrier_WN,arr_delay,dest_city_name,origin_city,windspeeds,weather_desc,visibilities,precipitations
0,338803,10397,11292,1,1,2018,530,205.0,1199,4.221989,...,0,0,1,-7.0,"Denver, CO",AtlantaGA,3.0,0.0,10.0,0.0
1,338837,10397,12953,1,1,2018,600,125.0,762,4.221989,...,0,0,1,1.0,"New York, NY",AtlantaGA,3.0,0.0,10.0,0.0
2,338851,10397,13232,1,1,2018,600,115.0,591,4.221989,...,0,0,1,49.0,"Chicago, IL",AtlantaGA,3.0,0.0,10.0,0.0
3,1265910,10397,13303,1,1,2018,600,115.0,594,4.221989,...,0,0,0,-12.0,"Miami, FL",AtlantaGA,10.0,0.0,10.0,0.0
4,1266589,10397,14100,1,1,2018,600,124.0,666,4.221989,...,0,0,0,-27.0,"Philadelphia, PA",AtlantaGA,12.0,0.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918190,3682925,14747,11298,31,12,2019,2320,220.0,1660,5.605429,...,0,0,0,-19.0,"Dallas/Fort Worth, TX",SeattleWA,4.0,1.0,10.0,0.0
3918191,2051290,14747,12264,31,12,2019,2330,280.0,2306,5.605429,...,1,0,0,-18.0,"Washington, DC",SeattleWA,5.0,0.0,10.0,0.0
3918192,3682770,14747,10299,31,12,2019,2330,224.0,1448,5.605429,...,0,0,0,-3.0,"Anchorage, AK",SeattleWA,4.0,0.0,10.0,0.0
3918193,2050716,14747,12266,31,12,2019,2359,248.0,1874,5.605429,...,1,0,0,-18.0,"Houston, TX",SeattleWA,3.0,0.0,10.0,0.0
3918194,3424682,14747,10721,31,12,2019,2359,305.0,2496,5.605429,...,0,0,0,-20.0,"Boston, MA",SeattleWA,4.0,0.0,10.0,0.0

In [76]:
train_flights.drop(['Unnamed: 0', 'origin_city', 'dest_city_name'], inplace=True,axis=1)

In [79]:
tf_final = train_flights.dropna()

In [82]:
tf_final.shape

(3898337, 30)

In [81]:
tf_final.to_csv('../../../data/training_set/TRAIN_ME.csv')

## Probably Useless Now

In [ ]:
#train_flights = pd.get_dummies(train_flights,prefix=['weather'], columns = ['weather_desc'], drop_first=True)

In [6]:
train_flights.columns = train_flights.columns.str.replace(' ', '_')

In [10]:
train_flights = train_flights.drop(['Unnamed:_0'],axis=1)

In [11]:
train_flights.columns

Index(['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay', 'departures_performed', 'seats',
       'passengers', 'percent_filled', 'carrier_AS', 'carrier_B6',
       'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK',
       'carrier_UA', 'carrier_VX', 'carrier_WN', 'arr_delay', 'dest_city_name',
       'origin_city', 'windspeeds', 'visibilities', 'precipitations',
       'weather_Blowing_snow', 'weather_Clear', 'weather_Cloudy',
       'weather_Fog', 'weather_Freezing_fog', 'weather_Heavy_freezing_drizzle',
       'weather_Heavy_rain', 'weather_Heavy_rain_at_times',
       'weather_Heavy_snow', 'weather_Ice_pellets', 'weather_Light_drizzle',
       'weather_Light_freezing_rain', 'weather_Light_rain',
       'weather_Light_rain_shower', 'weather_Light_sleet',
       'weather_Light_sleet_showers', 'weather_Light_snow',
       'weather_Light_snow_showers', 'weather_Mist',
       'weather_Moderate_or_heavy_freezing_rain',
       'weather_Moderate_or_heavy_rain_shower',
       'weather_Moderate_or_heavy_rain_with_thunder',
       'weather_Moderate_or_heavy_sleet',
       'weather_Moderate_or_heavy_snow_showers',
       'weather_Moderate_or_heavy_snow_with_thunder', 'weather_Moderate_rain',
       'weather_Moderate_rain_at_times', 'weather_Moderate_snow',
       'weather_Overcast', 'weather_Partly_cloudy',
       'weather_Patchy_heavy_snow', 'weather_Patchy_light_drizzle',
       'weather_Patchy_light_rain', 'weather_Patchy_light_rain_with_thunder',
       'weather_Patchy_light_snow', 'weather_Patchy_moderate_snow',
       'weather_Patchy_rain_possible', 'weather_Patchy_sleet_possible',
       'weather_Patchy_snow_possible', 'weather_Sunny',
       'weather_Thundery_outbreaks_possible',
       'weather_Torrential_rain_shower'],
      dtype='object')

In [12]:
train_flights['windspeeds'] = pd.to_numeric(train_flights['windspeeds'], downcast='float')
train_flights['visibilities'] = pd.to_numeric(train_flights['visibilities'], downcast='float')
train_flights['precipitations'] = pd.to_numeric(train_flights['precipitations'], downcast='float')

In [13]:
ffull = train_flights.dropna()

In [14]:
f_null = train_flights[train_flights.isnull().any(axis=1)]

In [15]:
ffull.columns

Index(['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay', 'departures_performed', 'seats',
       'passengers', 'percent_filled', 'carrier_AS', 'carrier_B6',
       'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK',
       'carrier_UA', 'carrier_VX', 'carrier_WN', 'arr_delay', 'dest_city_name',
       'origin_city', 'windspeeds', 'visibilities', 'precipitations',
       'weather_Blowing_snow', 'weather_Clear', 'weather_Cloudy',
       'weather_Fog', 'weather_Freezing_fog', 'weather_Heavy_freezing_drizzle',
       'weather_Heavy_rain', 'weather_Heavy_rain_at_times',
       'weather_Heavy_snow', 'weather_Ice_pellets', 'weather_Light_drizzle',
       'weather_Light_freezing_rain', 'weather_Light_rain',
       'weather_Light_rain_shower', 'weather_Light_sleet',
       'weather_Light_sleet_showers', 'weather_Light_snow',
       'weather_Light_snow_showers', 'weather_Mist',
       'weather_Moderate_or_heavy_freezing_rain',
       'weather_Moderate_or_heavy_rain_shower',
       'weather_Moderate_or_heavy_rain_with_thunder',
       'weather_Moderate_or_heavy_sleet',
       'weather_Moderate_or_heavy_snow_showers',
       'weather_Moderate_or_heavy_snow_with_thunder', 'weather_Moderate_rain',
       'weather_Moderate_rain_at_times', 'weather_Moderate_snow',
       'weather_Overcast', 'weather_Partly_cloudy',
       'weather_Patchy_heavy_snow', 'weather_Patchy_light_drizzle',
       'weather_Patchy_light_rain', 'weather_Patchy_light_rain_with_thunder',
       'weather_Patchy_light_snow', 'weather_Patchy_moderate_snow',
       'weather_Patchy_rain_possible', 'weather_Patchy_sleet_possible',
       'weather_Patchy_snow_possible', 'weather_Sunny',
       'weather_Thundery_outbreaks_possible',
       'weather_Torrential_rain_shower'],
      dtype='object')

In [20]:
f_n = f_null[['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay', 'departures_performed', 'seats',
       'passengers', 'percent_filled', 'carrier_AS', 'carrier_B6',
       'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK',
       'carrier_UA', 'carrier_VX', 'carrier_WN', 'arr_delay', 'dest_city_name',
       'origin_city']]

In [21]:
fnf = pd.merge(f_n, 
                 cm_avg, 
                 on =['origin_city', 'month'], 
                 how ='left')

In [22]:
fnf.columns

Index(['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay', 'departures_performed', 'seats',
       'passengers', 'percent_filled', 'carrier_AS', 'carrier_B6',
       'carrier_DL', 'carrier_F9', 'carrier_G4', 'carrier_HA', 'carrier_NK',
       'carrier_UA', 'carrier_VX', 'carrier_WN', 'arr_delay', 'dest_city_name',
       'origin_city', 'windspeeds', 'visibilities', 'precipitations',
       'weather_Blowing_snow', 'weather_Clear', 'weather_Cloudy',
       'weather_Fog', 'weather_Freezing_fog', 'weather_Heavy_freezing_drizzle',
       'weather_Heavy_rain', 'weather_Heavy_rain_at_times',
       'weather_Heavy_snow', 'weather_Ice_pellets', 'weather_Light_drizzle',
       'weather_Light_freezing_rain', 'weather_Light_rain',
       'weather_Light_rain_shower', 'weather_Light_sleet',
       'weather_Light_sleet_showers', 'weather_Light_snow',
       'weather_Light_snow_showers', 'weather_Mist',
       'weather_Moderate_or_heavy_freezing_rain',
       'weather_Moderate_or_heavy_rain_shower',
       'weather_Moderate_or_heavy_rain_with_thunder',
       'weather_Moderate_or_heavy_sleet',
       'weather_Moderate_or_heavy_snow_showers',
       'weather_Moderate_or_heavy_snow_with_thunder', 'weather_Moderate_rain',
       'weather_Moderate_rain_at_times', 'weather_Moderate_snow',
       'weather_Overcast', 'weather_Partly_cloudy',
       'weather_Patchy_heavy_snow', 'weather_Patchy_light_drizzle',
       'weather_Patchy_light_rain', 'weather_Patchy_light_rain_with_thunder',
       'weather_Patchy_light_snow', 'weather_Patchy_moderate_snow',
       'weather_Patchy_rain_possible', 'weather_Patchy_sleet_possible',
       'weather_Patchy_snow_possible', 'weather_Sunny',
       'weather_Thundery_outbreaks_possible',
       'weather_Torrential_rain_shower'],
      dtype='object')

In [23]:
# atll = fnf.loc[fnf['origin_city'] == 'AtlantaGA'] 
# atll[['month','windspeeds','visibilities','precipitations']]

In [24]:
# cm_avg.loc[(cm_avg['origin_city'] == 'AtlantaGA') & (cm_avg['month'] == 4) | (cm_avg['month'] ==7)]

In [26]:
final_df = ffull.append(fnf,sort=False)

In [27]:
final_df.shape

(3918195, 73)

In [28]:
ffull.shape

(3898337, 73)

In [29]:
fnf.shape

(19858, 73)

In [31]:
final_df

,origin_airport_id,dest_airport_id,day,month,year,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,...,weather_Patchy_light_rain,weather_Patchy_light_rain_with_thunder,weather_Patchy_light_snow,weather_Patchy_moderate_snow,weather_Patchy_rain_possible,weather_Patchy_sleet_possible,weather_Patchy_snow_possible,weather_Sunny,weather_Thundery_outbreaks_possible,weather_Torrential_rain_shower
0,10397,11292,1,1,2018,530,205.0,1199,4.221989,4.566613,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,10397,12953,1,1,2018,600,125.0,762,4.221989,4.566613,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,10397,13232,1,1,2018,600,115.0,591,4.221989,4.566613,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,10397,13303,1,1,2018,600,115.0,594,4.221989,7.880984,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
4,10397,14100,1,1,2018,600,124.0,666,4.221989,7.880984,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,14747,14107,30,4,2019,1445,168.0,1107,3.667013,7.880984,...,0.003489,0.000534,0.000452,0.004023,0.031446,0.003407,0.000082,0.341393,0.003325,0.005747
19854,14747,13930,30,4,2019,1515,249.0,1721,3.667013,7.880984,...,0.003489,0.000534,0.000452,0.004023,0.031446,0.003407,0.000082,0.341393,0.003325,0.005747
19855,14747,11298,30,4,2019,1533,239.0,1660,3.667013,7.880984,...,0.003489,0.000534,0.000452,0.004023,0.031446,0.003407,0.000082,0.341393,0.003325,0.005747
19856,14747,14107,30,4,2019,1805,176.0,1107,3.667013,7.880984,...,0.003489,0.000534,0.000452,0.004023,0.031446,0.003407,0.000082,0.341393,0.003325,0.005747
19857,14747,13303,30,4,2019,2104,346.0,2724,3.667013,7.880984,...,0.003489,0.000534,0.000452,0.004023,0.031446,0.003407,0.000082,0.341393,0.003325,0.005747

In [30]:
final_df.to_csv('../../../data/training_set/final_to_train.csv')

In [34]:
ffull.to_csv('../../../data/training_set/ffull.csv')