In [1]:
import pandas as pd
import numpy as np
import psycopg2
import pandas.io.sql as sqlio
import requests as re
from IPython.display import JSON
import json

In [2]:
flights = pd.read_csv('../../../data/flights/flightFinal.csv')

In [6]:
flights = flights.drop('Unnamed: 0',axis=1)

In [8]:
flights.drop('fl_date',axis=1,inplace=True)

In [9]:
flights.head()

,mkt_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin_city_name,dest_airport_id,dest_city_name,crs_dep_time,crs_arr_time,arr_delay,crs_elapsed_time,distance,day,month,year,month_delay,carrier_delay,carrier_perc_delay
0,WN,N282WN,2015,12892,"Los Angeles, CA",10140,"Albuquerque, NM",1235,1535,6.0,120.0,677,10,11,2018,3.454152,4.566613,19.68
1,WN,N411WN,3788,12892,"Los Angeles, CA",10140,"Albuquerque, NM",1840,2125,1.0,105.0,677,10,11,2018,3.454152,4.566613,19.68
2,WN,N556WN,3301,12892,"Los Angeles, CA",10397,"Atlanta, GA",805,1515,-12.0,250.0,1947,10,11,2018,3.454152,4.566613,19.68
3,WN,N8648A,3525,12892,"Los Angeles, CA",10397,"Atlanta, GA",1045,1805,-20.0,260.0,1947,10,11,2018,3.454152,4.566613,19.68
4,WN,N8550Q,854,12892,"Los Angeles, CA",10423,"Austin, TX",1030,1535,-12.0,185.0,1242,10,11,2018,3.454152,4.566613,19.68

In [15]:
citieNames = []
for index, city in enumerate(flights.origin_city_name):
    if '/' in city:
        splits = city.split(sep='/')
        city = splits[0] + ',' + splits[-1].split(sep=',')[-1]
    city2 = city.replace(" ","")
    city3 = city2.replace(",", "")    
    citieNames = city3

In [16]:
flights['origin_city'] = citieNames

In [17]:
flights.head()

,mkt_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin_city_name,dest_airport_id,dest_city_name,crs_dep_time,crs_arr_time,arr_delay,crs_elapsed_time,distance,day,month,year,month_delay,carrier_delay,carrier_perc_delay,origin_city
0,WN,N282WN,2015,12892,"Los Angeles, CA",10140,"Albuquerque, NM",1235,1535,6.0,120.0,677,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
1,WN,N411WN,3788,12892,"Los Angeles, CA",10140,"Albuquerque, NM",1840,2125,1.0,105.0,677,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
2,WN,N556WN,3301,12892,"Los Angeles, CA",10397,"Atlanta, GA",805,1515,-12.0,250.0,1947,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
3,WN,N8648A,3525,12892,"Los Angeles, CA",10397,"Atlanta, GA",1045,1805,-20.0,260.0,1947,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
4,WN,N8550Q,854,12892,"Los Angeles, CA",10423,"Austin, TX",1030,1535,-12.0,185.0,1242,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA

In [18]:
flights.drop(['origin_city_name'],axis=1,inplace=True)

In [19]:
Fflights = flights.copy()

In [24]:
Fflights.head()

,mkt_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,dest_city_name,crs_dep_time,crs_arr_time,arr_delay,crs_elapsed_time,distance,day,month,year,month_delay,carrier_delay,carrier_perc_delay,origin_city
0,WN,N282WN,2015,12892,10140,"Albuquerque, NM",1235,1535,6.0,120.0,677,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
1,WN,N411WN,3788,12892,10140,"Albuquerque, NM",1840,2125,1.0,105.0,677,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
2,WN,N556WN,3301,12892,10397,"Atlanta, GA",805,1515,-12.0,250.0,1947,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
3,WN,N8648A,3525,12892,10397,"Atlanta, GA",1045,1805,-20.0,260.0,1947,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA
4,WN,N8550Q,854,12892,10423,"Austin, TX",1030,1535,-12.0,185.0,1242,10,11,2018,3.454152,4.566613,19.68,LosAngelesCA

In [106]:
Windspeeds = []
weatherDesc = []
precipitations = []
visibilities = []
for i in range(0,len(Fflights)-1):
    row = Fflights.iloc[i,:]
    
    day = row.day
    month = row.month
    city = row.origin_city
    year = row.year
    time = row.crs_dep_time
    
    if month < 10:
        strmonth = '0' + str(month)
    else:
        strmonth = str(month)
        
    r = open("../../../data/weather/"+str(year)+strmonth+city+".json", "r")
    jsonfile = json.load(r)['data']['weather']
    
    if time > 2100:
        Windspeeds.append(jsonfile[day-1]['hourly'][7]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][7]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][7]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][7]['weatherDesc'][0]['value'])
    elif time > 1800:
        Windspeeds.append(jsonfile[day-1]['hourly'][6]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][6]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][6]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][6]['weatherDesc'][0]['value'])
    elif time > 1500:
        Windspeeds.append(jsonfile[day-1]['hourly'][5]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][5]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][5]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][5]['weatherDesc'][0]['value'])
    elif time > 1200:
        Windspeeds.append(jsonfile[day-1]['hourly'][4]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][4]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][4]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][4]['weatherDesc'][0]['value'])
    elif time > 900:
        Windspeeds.append(jsonfile[day-1]['hourly'][3]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][3]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][3]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][3]['weatherDesc'][0]['value'])
    elif time > 600:
        Windspeeds.append(jsonfile[day-1]['hourly'][2]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][2]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][2]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][2]['weatherDesc'][0]['value'])
    elif time > 300:
        Windspeeds.append(jsonfile[day-1]['hourly'][1]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][1]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][1]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][1]['weatherDesc'][0]['value'])
    else:
        Windspeeds.append(jsonfile[day-1]['hourly'][0]['windspeedMiles'])
        visibilities.append(jsonfile[day-1]['hourly'][0]['visibility'])
        precipitations.append(jsonfile[day-1]['hourly'][0]['precipMM'])
        weatherDesc.append(jsonfile[day-1]['hourly'][0]['weatherDesc'][0]['value'])

KeyboardInterrupt: